parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''email'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Cannot access offset ''password'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Cannot call method currentAccessToken\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Parameter \#1 \$attributes of static method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\User\>\:\:create\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:check\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Cannot access offset ''image'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Http/Controllers/TaskController.php

		-
			message: '#^Cannot access offset ''image_path'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Http/Controllers/TaskController.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/TaskController.php

		-
			message: '#^Cannot call method tasks\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: app/Http/Controllers/TaskController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Model\:\:update\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/TaskController.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Relations\\HasOneOrMany\<App\\Models\\Task,App\\Models\\User,Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Task\>\>\:\:create\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/TaskController.php

		-
			message: '#^Cannot access offset ''expires_in_days'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Http/Controllers/TokenController.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Http/Controllers/TokenController.php

		-
			message: '#^Cannot call method createToken\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/TokenController.php

		-
			message: '#^Cannot call method tokens\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/TokenController.php

		-
			message: '#^Parameter \#1 \$value of method Carbon\\Carbon\:\:addDays\(\) expects float\|int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/TokenController.php

		-
			message: '#^Method App\\Models\\Task\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, App\\Models\\Task\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Models\\User, \$this\(App\\Models\\Task\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Task.php

		-
			message: '#^Method App\\Models\\User\:\:tasks\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Task, App\\Models\\User\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Task, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php
